@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,body {
    height:100%;
}
body {
    background-color: #ff4d4d;
    color: white;
    overflow-y: hidden;

    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.titolo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

#button1 {
    width: 200px;
    height: 100px;
    color: white;
    background-color: #e46767;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    box-shadow: 6px 6px 0px #bb4342;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

#button2 {
    width: 300px;
    height: 100px;
    color: white;
    background-color: #e46767;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    box-shadow: 6px 6px 0px #bb4342;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

a {
    text-decoration: none;
}

#button2:active {
    box-shadow: 0px 0px 0px #bb4342;
    transform: translateY(3px);
}

#button1:active{
    box-shadow: 0px 0px 0px #bb4342;
    transform: translateY(3px);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
        background: #FFFFFF;
}
